<template>
  <v-container fill-height>
    <v-row>
      <v-col cols="12" md="6">
        <img
          src="@/assets/img/undraw_donut_love_kau1.svg"
          alt="hero"
          class="hero"
        />
      </v-col>
      <v-col class="slogan" align-self="center">
        <h1 class="text-center text-h1 mb-10">JustEat</h1>
        <h2 class="text-center text-h3">想吃甜點是<br />不需要理由的</h2>
      </v-col>
    </v-row>
  </v-container>
</template>

<script>
export default {
  name: "Home",
};
</script>

<style scoped>
.hero {
  width: 100%;
}
.slogan h2 {
  color: #db6365;
}
</style>
