<template>
  <v-container>
    <v-row class="mt-4" align="center">
      <v-col class="pa-10" cols="12" sm="6">
        <v-img src="@/assets/img/undraw_breakfast_psiw.svg" />
      </v-col>
      <v-col>
        <p class="text-subtitle-1">
          Lorem At vero eos et accusamus et iusto odio dignissimos ducimus qui
          blanditiis praesentium voluptatum deleniti atque corrupti quos dolores
          et quas molestias excepturi sint occaecati cupiditate non provident,
          similique sunt in culpa qui officia deserunt mollitia animi, id est
          laborum et dolorum fuga. Et harum quidem rerum facilis est et expedita
          distinctio. Nam libero tempore, cum soluta nobis est eligendi optio
          cumque nihil impedit quo minus id quod maxime placeat facere possimus,
          omnis voluptas assumenda est, omnis dolor repellendus. Temporibus
          autem quibusdam et aut officiis debitis aut rerum necessitatibus saepe
          eveniet ut et voluptates repudiandae sint et molestiae non recusandae.
          Itaque earum rerum hic tenetur a sapiente delectus, ut aut reiciendis
          voluptatibus maiores alias consequatur aut perferendis doloribus
          asperiores repellat.
        </p>
      </v-col>
    </v-row>
    <v-row align="center">
      <v-col>
        <p>
          Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
          eiusmod tempor incididunt ut labore et dolore magna aliqua. Cursus
          eget nunc scelerisque viverra mauris in. Ut venenatis tellus in metus
          vulputate eu scelerisque felis imperdiet. Sed arcu non odio euismod
          lacinia at quis. Diam donec adipiscing tristique risus nec feugiat in
          fermentum. Arcu non odio euismod lacinia. Dignissim cras tincidunt
          lobortis feugiat. Ut placerat orci nulla pellentesque dignissim. Ut
          enim blandit volutpat maecenas volutpat blandit aliquam etiam. Vel
          risus commodo viverra maecenas accumsan lacus vel facilisis volutpat.
          Sed faucibus turpis in eu. Ultrices eros in cursus turpis massa
          tincidunt. Non enim praesent elementum facilisis leo vel fringilla est
          ullamcorper. Maecenas volutpat blandit aliquam etiam erat velit
          scelerisque in. Erat velit scelerisque in dictum non. Duis convallis
          convallis tellus id interdum velit laoreet id donec. Nulla posuere
          sollicitudin aliquam ultrices. Dolor sit amet consectetur adipiscing.
          Neque convallis a cras semper auctor. Urna cursus eget nunc
          scelerisque viverra mauris in aliquam sem. Porttitor massa id neque
          aliquam vestibulum morbi. Egestas erat imperdiet sed euismod nisi.
          Rhoncus mattis rhoncus urna neque viverra justo nec ultrices dui.
          Tortor vitae purus faucibus ornare suspendisse. Tempus quam
          pellentesque nec nam aliquam sem et tortor consequat. Rhoncus est
          pellentesque elit ullamcorper dignissim. Rutrum tellus pellentesque eu
          tincidunt tortor aliquam. Nibh ipsum consequat nisl vel pretium lectus
          quam. Natoque penatibus et magnis dis parturient montes nascetur
          ridiculus mus. Imperdiet nulla malesuada pellentesque elit eget
          gravida. Libero enim sed faucibus turpis in eu. Nisi lacus sed viverra
          tellus in hac. Vestibulum lorem sed risus ultricies tristique nulla
          aliquet enim tortor. Ligula ullamcorper malesuada proin libero. Eget
          mauris pharetra et ultrices neque. Rhoncus urna neque viverra justo
          nec ultrices dui. Hendrerit dolor magna eget est lorem. Dui id ornare
          arcu odio ut. Ut tellus elementum sagittis vitae et leo. Adipiscing
          vitae proin sagittis nisl rhoncus mattis rhoncus urna neque. Placerat
          in egestas erat imperdiet sed. Semper risus in hendrerit gravida
          rutrum quisque non tellus orci. Et netus et malesuada fames ac turpis
          egestas sed. Nisl nisi scelerisque eu ultrices vitae auctor. Faucibus
          a pellentesque sit amet porttitor eget dolor morbi non. Tellus integer
          feugiat scelerisque varius morbi enim nunc faucibus a. Aliquet nec
          ullamcorper sit amet risus nullam eget. Est ultricies integer quis
          auctor elit sed vulputate. Arcu dui vivamus arcu felis bibendum ut
          tristique et. Convallis a cras semper auctor neque vitae tempus. Velit
          scelerisque in dictum non consectetur a erat. Amet porttitor eget
          dolor morbi. Mi proin sed libero enim sed. Massa placerat duis
          ultricies lacus sed turpis tincidunt id. Sollicitudin ac orci
          phasellus egestas. Amet dictum sit amet justo donec.
        </p>
      </v-col>
      <v-col class="pa-10" cols="12" md="5">
        <v-img src="@/assets/img/undraw_coffee_break_j-3-of.svg" />
      </v-col>
    </v-row>
  </v-container>
</template>
