<template>
  <v-container>
    <v-row>
      <v-col md="4">
        <v-img src="@/assets/img/undraw_traveling_re_weve.svg" />
      </v-col>
      <v-col align-self="center">
        <h1 class="text-md-h1 text-h3 text-center">Find our Dessert</h1>
      </v-col>
    </v-row>
    <v-row class="my-10" justify="space-around">
      <v-chip-group mandatory column class="text-center px-4" color="#DB6365">
        <v-chip
          @click="choose(tag.toLowerCase())"
          v-for="tag in tags"
          :key="tag"
          large
        >
          {{ tag === "Dessert" ? "All" : tag }}
        </v-chip>
      </v-chip-group>
    </v-row>
    <v-row>
      <v-col sm="4" md="3" v-for="item in 60" :key="`${tag}-${item}`">
        <v-img
          :src="`https://loremflickr.com/320/240/${tag}?random=${item}`"
          lazy-src="@/assets/img/loading.png"
          aspect-ratio="1"
        >
          <template v-slot:placeholder>
            <v-row class="fill-height ma-0" align="center" justify="center">
              <v-progress-circular indeterminate color="grey lighten-5" />
            </v-row>
          </template>
        </v-img>
      </v-col>
    </v-row>
  </v-container>
</template>

<script>
export default {
  data() {
    return {
      tags: [
        "Dessert",
        "Cake",
        "Cookie",
        "Pie",
        "Chocolate",
        "Macaron",
        "Doughnut",
        "Icecream",
        "Croissant",
      ],
      tag: "Dessert",
    };
  },
  methods: {
    choose: function (tag) {
      this.tag = tag;
    },
  },
};
</script>
