<template>
  <v-app>
    <v-app-bar app color="#FFCB77">
      <v-app-bar-nav-icon
        v-if="!$vuetify.breakpoint.smAndUp"
        @click="drawer = true"
      />
      <router-link :to="{ name: 'Home' }" class="d-flex align-center">
        <v-img
          alt="Logo"
          class="mr-2"
          src="@/assets/logo.png"
          transition="scale-transition"
          width="45"
        />
        <h1 class="text-h4 title">JustEat</h1>
      </router-link>
      <v-spacer />
      <v-btn-toggle v-if="$vuetify.breakpoint.smAndUp" group>
        <v-btn
          v-for="link in links"
          :key="link.name"
          :to="{ name: link.name }"
          class="mr-2"
          color="#694f5d"
          text
          link
        >
          <v-icon class="mr-2" v-text="link.icon" />{{ link.name }}
        </v-btn>
      </v-btn-toggle>
    </v-app-bar>

    <v-main style="background-color: #fef9ef">
      <router-view fill-height />
      <v-navigation-drawer v-model="drawer" absolute temporary>
        <v-list nav dense>
          <v-list-item
            v-for="link in links"
            :key="link.name"
            :to="{ name: link.name }"
            link
          >
            <v-list-item-icon>
              <v-icon>{{ link.icon }}</v-icon>
            </v-list-item-icon>

            <v-list-item-content>
              <v-list-item-title>{{ link.name }}</v-list-item-title>
            </v-list-item-content>
          </v-list-item>
        </v-list></v-navigation-drawer
      >
    </v-main>
    <v-footer color="#FFE2B3">
      <span>Made by Steve Jian.</span>
      <v-spacer />
      <span>2022</span>
    </v-footer>
  </v-app>
</template>

<script>
export default {
  name: "App",

  data: () => ({
    drawer: false,
    links: [
      { name: "List", icon: "mdi-silverware" },
      { name: "Collection", icon: "mdi-bookmark" },
      { name: "Introduction", icon: "mdi-information-variant" },
    ],
  }),
};
</script>

<style>
.title {
  color: #694f5d;
}
a {
  text-decoration: none;
  color: unset;
}
</style>
